<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/7363b7b980.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/main.css">

  <title>To Do List</title>
</head>

<body>
    <a href="/work"> <i class="fa-solid fa-briefcase"></i> Work</a>
    <a href="/"> <i class="fa-solid fa-calendar-days"></i> Today</a>
  <main>